/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	Don't modify these	*/
/*	Use REMs	*/
/*	MobileHeader


	============
	
	Contains the styling for the search, navigation dropdown, and Vassar link at smaller screen sizes
	*/
/*	Masthead
	-------- */
.u-Masthead__vassar {
  height: 4rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 16px;
  padding-left: 1rem;
  width: 100%;
  display: table;
  background: #000;
}

.u-Masthead__vassar--link {
  display: table-cell;
  vertical-align: middle;
}

/*	Put this in a masthead file */
@media all and (min-width: 600px) {
  .u-Masthead__vassar {
    position: static;
    display: auto;
    height: auto;
    background: none;
    width: auto;
    padding: inherit;
  }

  .u-Masthead__vassar--link {
    display: inline;
  }

  .u-Masthead__vassar--link.icon-back:before {
    content: "";
    margin: 0;
  }
}
/*	Mobile search
	------------- */
/*	Base styles
	........... */
.u-Container {
  padding-top: 4rem;
}

.u-Search__form:focus {
  border: 4px solid #f00 !important;
}

label[for="u-Search"].ac-hiddenVisually {
  clip: auto !important;
  height: auto !important;
  width: auto !important;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: -112px;
  left: -7rem;
  z-index: 9;
  line-height: 4rem;
  text-shadow: 8rem 0 0 #aaa;
  overflow: visible !important;
  font-family: "pragmatica-web", Helvetica, Arial;
}

#search {
  position: absolute;
  /*	top: 0; */
  padding: 0;
  background: #eee;
}

.u-Search__button {
  position: absolute;
  top: 0;
  top: 0;
  right: 56px;
  right: 3.5rem;
  background: #000;
  color: #d94;
  width: 3.5rem;
  text-align: center;
  border-right: 1px solid #000;
  font-size: 28.8px;
  font-size: 1.8rem;
  z-index: 2;
}

.u-Search__button,
.u-Search__cancel {
  height: 4rem;
  line-height: 4rem;
}

.u-Search__cancel {
  font-size: 16px;
  font-size: 1rem;
}

.u-Search__submit {
  left: auto;
  top: 0;
  bottom: 0;
  height: auto;
  position: relative;
}

.u-Search__field {
  height: auto;
  font-family: "pragmatica-web", Helvetica, Arial;
  width: 100%;
  font-size: 16px;
  font-size: 1rem;
  padding: 2%;
  padding: 2%;
}

.u-Search__field:focus {
  z-index: 10 !important;
}

.u-Search__field,
.u-Search__submit,
.u-Search__cancel {
  position: absolute;
  top: 0;
  bottom: 0;
}

.u-Search__submit,
.u-Search__cancel {
  z-index: 11;
}

.u-Search__submit,
.u-Search__field,
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.u-Search__form:before {
  content: "";
  position: absolute;
  height: 4rem;
  border-left: 8px solid #000;
  top: 0;
  bottom: 0;
  right: 7rem;
  z-index: 9;
}

.u-Search__field:focus,
.u-Search__submit:focus {
  z-index: 0;
  position: inherit;
}

.u-Search__field,
input[type="search"],
#search:target .u-Search__field {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

/*	When the search form is displayed
	................................. */
#search:target {
  padding: 0;
  width: 100%;
  background: #f0f;
  z-index: 9;
  max-height: 64px;
  max-height: 4rem;
  height: 64px;
  height: 4rem;
}

#search:target .u-Search__submit,
#search:target .u-Search__cancel {
  color: #f00;
  background: #000;
  position: absolute;
  width: 3.5rem;
  text-align: center;
  padding: 0;
  line-height: 64px;
  line-height: 4rem;
}

#search:target .u-Search__field {
  position: absolute;
  left: 0;
  border: 8px solid #000;
}

#search:target .u-Search__cancel {
  right: 0;
  right: 0;
}

#search:target .u-Search__submit {
  right: 56px;
  right: 3.5rem;
  font-size: 28.8px;
  font-size: 1.8rem;
}

#search:target .u-Search__submit:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  width: 2px;
  border-left: 8px solid #000;
}

/*	Navigation
	---------- */
.ac-NavAnchor--menu {
  position: absolute;
  right: 0;
  top: 0;
  top: 0;
  height: 4rem;
  width: 3.5rem;
  line-height: 4rem;
  /*	font-size: $iconFontSize; */
  z-index: 9;
  background: #000;
  text-align: center;
  color: #d94;
  font-family: "pragmatica-web", Helvetica, Arial !important;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.u-NavSite__item {
  font-family: "jaf-bernina-sans";
  line-height: 110%;
  font-weight: 100;
  font-size: 22.4px;
  font-size: 1.4rem;
}

.u-NavSite__itemContainer .u-NavSite__itemContainer .u-NavSite__item {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.u-NavSite__itemContainer {
  margin: 0;
}

.u-NavSite__itemContainer .u-NavSite__itemContainer {
  padding-left: 0;
}

/*.u-NavSite__item {
	@include v-pixel-fallback("padding", .25rem .75rem);
}*/
/* .u-NavSite__level {
	margin-left: 1em;
} */
.ac-NavAnchor.ac-NavAnchor--top {
  padding: 1em;
  display: block;
  text-align: center;
}

#navigation:target {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 4rem;
  height: auto;
  background: transparent;
}

#navigation:target .u-NavSite__level--1 {
  background: #666;
  margin: 0;
  padding: 6% 4%;
  z-index: 9999 !important;
}

#navigation:target .u-NavSite__level--1 .u-NavSite__item {
  color: #aaa;
}

#navigation:target .ac-NavAnchor--top {
  position: absolute;
  right: 0;
  top: 0;
  height: 4rem;
  width: 3.5rem;
  line-height: 4rem;
  font-size: 1.8rem;
  z-index: 9999 !important;
  background: #666;
  text-align: center;
  color: #d94;
  font-size: 1px;
  /*	text-indent: -99em; */
}

#navigation:target .ac-NavAnchor--top:before {
  content: "Menu";
  content: "Close";
  font-size: 1rem !important;
  /*	font-family: $searchType !important; */
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 4rem;
  font-size: 1.8rem;
  color: #000;
}

/*#navigation:target:before {
	content: "Menu";
	position: absolute;
	height: $mobileHeaderHeight;
	@include v-pixel-fallback("font-size", 1rem);
	font-weight: bold;
	top: -$mobileHeaderHeight;
	left: 0;
	@include v-pixel-fallback("padding-left", 1rem);
	border: 1px solid #f00;
	line-height: $mobileHeaderHeight;
}*/
/*	Undo everything so it doesn't interfere with larger-screen search styling */
@media all and (min-width: 600px) {
  /*	Overrides stuff in search-responsive.
  	search-responsive is centrally located. Maybe we can get rid of it
  	in the future, but right now other sites rely on it. */
  .u-Container {
    padding-top: 0;
  }

  /*	Search	*/
  #search {
    max-height: none;
    /*		width: auto;
    		left: auto;
    */
    background-color: transparent;
  }

  .u-Search__form:before,
  .u-Search__cancel,
  .u-Search__button {
    display: none;
  }

  label[for="u-Search"].ac-hiddenVisually {
    border: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    position: absolute !important;
    width: 1px !important;
  }

  /*	Nav	*/
  .ac-NavAnchor--menu {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
  }
}
/* Should come before all other modules, since nav needs to override it */
/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	NAVIGATION
	------------------------------
*/
.u-NavSite__level .u-NavSite__level {
  padding-left: .5em;
}

.u-NavSite__item--facebook {
  margin-top: 1em;
}

@media all and (min-width: 600px) {
  .ac-NavAnchor.ac-NavAnchor--top,
  .ac-NavAnchor--menu {
    right: 4em;
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
  }

  .u-NavSite__item {
    padding: .125em 0;
  }
}
@media all and (min-width: 800px) {
  .u-NavSite__level.u-NavSite__level--1 {
    margin: 0;
  }
}
/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	rev# 140428 */
/*	BIO INDEX
	--------- */
.u-BioList__list .u-BioList__name {
  display: block;
  font-size: 1.2em;
}

.u-BioList__list .u-BioList__title {
  display: block;
}

.u-BioList__list .u-BioList__item {
  margin-bottom: .75em;
}

/*	BIOS
	---- */
.u-Bio__contactInfo {
  font-size: .9rem;
  margin-bottom: 1.5em;
}

.u-Bio__contactData {
  font-weight: 300;
}

.u-Bio__contactItemLabel {
  font-size: .85em;
  text-transform: uppercase;
  font-weight: bold;
}

.u-Bio__title {
  margin: .4em 0 .5em 0;
  font-weight: normal;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

.photo.u-Figure__image {
  margin-right: 1em;
  width: 100%;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	Search
	------
*/
@media all and (min-width: 600px) {
  /*	#search:target .u-Search__submit {
  		@include v-pixel-fallback("right", $mobileHeaderButtonWidth);
  	}
  */
  .u-Search__form:before {
    border: none;
  }

  .u-Search__button, .u-Search__cancel {
    display: none;
  }

  .u-Search__field {
    width: 80%;
  }

  .u-Search__submit,
  .u-Search__submit:focus {
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 20%;
    font-size: 16px;
    font-size: 1rem;
  }

  .ac-NavAnchor--menu {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  #search:target {
    height: 32px;
    height: 2rem;
  }

  #search {
    max-height: none;
    height: 32px;
    height: 2rem;
  }
}
@media all and (min-width: 700px) {
  .u-Search__button, .u-Search__cancel {
    display: none;
  }

  #search {
    max-height: none;
  }
}
/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*

 - Remove weird colors
 - Upload to Offices
 - Add to Starter
 - Get it displaying

*/
/*	override classes
	---------------	*/
.fontNormal, .cse .gs-webResult .gs-visibleUrl, .gs-webResult .gs-visibleUrl, .cse .gs-webResult .gs-visibleUrl-short, .gs-webResult .gs-visibleUrl-short, .gs-imageResult .gs-visibleUrl, .gs-imageResult .gs-visibleUrl-short {
  font-weight: normal !important;
}

.noMargin, td.gsc-table-cell-thumbnail.gsc-thumbnail,
.gs-image img.gs-image, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-cursor-box.gs-bidi-start-align,
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  margin: 0 !important;
}

.noPadding, td.gsc-table-cell-thumbnail.gsc-thumbnail,
.gs-image img.gs-image, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-result-info {
  padding: 0 !important;
}

.noBorder, .gsc-webResult.gsc-result, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-results-wrapper-visible td,
.gsc-results-wrapper-visible th {
  border: 0 !important;
}

.noBackground, .gsc-control-cse, .gsc-webResult.gsc-result, .gsc-control-cse tr:nth-child(2n+1) {
  background-color: transparent !important;
}

.noBorder, .gsc-webResult.gsc-result, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-results-wrapper-visible td,
.gsc-results-wrapper-visible th {
  border-color: transparent !important;
}

/*	overrides
	--------- */
.gcsc-branding,
.gsc-resultsHeader {
  display: none;
}

.gsc-result .gs-title {
  height: auto !important;
  overflow: visible !important;
}

.gsc-control-wrapper-cse a {
  text-decoration: none;
  /*link-colors($normal, $hover, $active, $visited, $focus)*/
  color: #3789CC;
}
.gsc-control-wrapper-cse a:visited {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:focus {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:hover {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:active {
  color: #f0f;
}

.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title b,
.gs-snippet,
.gsc-above-wrapper-area-container {
  text-decoration: none !important;
  font-size: 1rem !important;
  font-family: "jaf-bernina-sans" !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.gsc-table-cell-snippet-open,
.gsc-table-cell-snippet-close {
  margin: 0;
  padding: 0;
}

.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited b,
.gsc-control-cse .gs-result .gs-title b {
  font-weight: inherit !important;
  font-size: inherit !important;
  color: #f0f;
}

.gsc-control-cse .gs-result .gs-title:visited,
.gsc-control-cse .gs-result .gs-title b:visited,
.gs-snippet:visited,
.gsc-above-wrapper-area-container:visited {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:focus,
.gsc-control-cse .gs-result .gs-title b:focus,
.gs-snippet:focus,
.gsc-above-wrapper-area-container:focus {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:hover,
.gsc-control-cse .gs-result .gs-title b:hover,
.gs-snippet:hover,
.gsc-above-wrapper-area-container:hover {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:active,
.gsc-control-cse .gs-result .gs-title b:active,
.gs-snippet:active,
.gsc-above-wrapper-area-container:active {
  color: #3789CC !important;
}

.gs-snippet,
.gsc-above-wrapper-area-container {
  /*	font-size: .833rem!important; */
  font-weight: normal !important;
}

.gs-snippet,
.gsc-above-wrapper-area-container {
  /*	font-size: .833rem!important; */
  font-weight: normal !important;
}

.gsc-selected-option-container {
  min-width: 70px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background: #eee !important;
  text-shadow: none !important;
  font-weight: normal !important;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

.gsc-results.gsc-webResult > .gsc-webResult.gsc-result,
.gsc-expansionArea .gsc-webResult.gsc-result {
  margin-bottom: 2em !important;
}

.gsc-webResult.gsc-result .gs-title {
  font-size: 1.4rem !important;
  line-height: 110%;
}

.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited b,
.gsc-control-cse .gs-result .gs-title b {
  font-weight: bold !important;
}

.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long {
  font-size: .9rem !important;
  color: #006621 !important;
}

.gs-visibleUrl-long:focus {
  color: #3789CC !important;
}

.gs-visibleUrl-long:hover {
  color: #3789CC !important;
}

.gs-visibleUrl-long:active {
  color: #3789CC !important;
}

.gsc-above-wrapper-area {
  margin-bottom: 2rem;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  font-size: 1rem;
  padding: 1.25rem 1rem;
  width: 12.5%;
  max-width: 3rem;
  display: inline-block !important;
  line-height: 0 !important;
  border: 1px solid #eee;
  position: relative !important;
  margin-left: -1px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  z-index: 1 !important;
  background: #eee !important;
  border-color: #ccc !important;
}

.gsc-cursor-page:hover {
  z-index: 2 !important;
  background: #ddd !important;
  border-color: #ccc !important;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	Breadcrumbs
	-----------
*/
.u-BreadCrumbs {
  display: block;
  display: inline-block;
  padding-bottom: .25em;
  clear: both;
  margin-bottom: 1.75em;
  /*	border-bottom: 1px solid #eee; */
}

.u-BreadCrumbs .u-BreadCrumbs__item {
  font-family: "jaf-bernina-sans";
  font-size: 16px;
  font-size: 1rem;
  border: none;
  color: #666;
}

.u-BreadCrumbs__item:hover {
  color: #000;
}

.u-BreadCrumbs__item:before {
  content: "\25B6";
  font-size: .5em;
  margin-left: 1em;
  margin-right: 1em;
  color: #ccc;
}

.u-BreadCrumbs__item:first-child:before {
  content: none;
  margin: 0;
}

.u-BreadCrumbs {
  /*	@extend .font-smoothing; */
}

.u-BreadCrumbs__item {
  font-size: .9em;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

.u-NewsList__heading.u-NewsList__heading--announcements {
  margin-top: 0;
}

.u-ArticleNavGroup {
  padding: 5% 0;
  width: 100%;
  clear: both;
}

.u-ArticleNavGroup__navButton {
  font-weight: 500;
  font-size: .85em;
  text-align: center;
  float: left;
  display: block;
  padding: .3em .5em;
  margin: 0 2% 0 0;
  width: 23%;
  border: none;
  background: #ccc;
  color: #333;
}
.u-ArticleNavGroup__navButton:visited {
  background: #ccc;
}
.u-ArticleNavGroup__navButton:focus {
  background: #666;
}
.u-ArticleNavGroup__navButton:hover {
  background: #999;
}
.u-ArticleNavGroup__navButton:active {
  background: #666;
}
.u-ArticleNavGroup__navButton:visited {
  color: #333;
}
.u-ArticleNavGroup__navButton:focus {
  color: #ccc;
}
.u-ArticleNavGroup__navButton:hover {
  color: #fff;
}
.u-ArticleNavGroup__navButton:active {
  color: #ccc;
}

.u-ArticleNavGroup__navButton--more {
  width: 75%;
}

.u-ArticleNavGroup__navButton--next:after {
  content: "\2192";
  margin-left: 0.3em;
}

.u-ArticleNavGroup__navButton--prev:before {
  content: "\2190";
  margin-right: .3em;
}

.u-ArticleNavGroup__navButton--archive {
  width: 23%;
  margin-right: 0;
  float: right;
  background: #666;
  color: #fff;
}
.u-ArticleNavGroup__navButton--archive:visited {
  background: #666;
}
.u-ArticleNavGroup__navButton--archive:focus {
  background: #999;
}
.u-ArticleNavGroup__navButton--archive:hover {
  background: #999;
}
.u-ArticleNavGroup__navButton--archive:active {
  background: #999;
}
.u-ArticleNavGroup__navButton--archive:visited {
  color: #fff;
}
.u-ArticleNavGroup__navButton--archive:focus {
  color: #ccc;
}
.u-ArticleNavGroup__navButton--archive:hover {
  color: #fff;
}
.u-ArticleNavGroup__navButton--archive:active {
  color: #ccc;
}

.u-lAside .u-NewsList__list {
  list-style: none;
  padding-left: 0;
}

.u-ArticleListItem__title {
  margin-bottom: .5em;
}

.u-ArticleListItem {
  margin-bottom: 7%;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

/*	Design-specific	*/
.u-Masthead__siteName {
  margin-top: 0;
  line-height: .85;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

.u-lAside .u-Figure {
  margin: 0 0 10%;
  width: 100%;
}
.u-lAside .u-Figure img {
  width: 100%;
}

.u-lAside .u-Figure__caption,
.u-Figure__caption {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  font-family: "merriweather";
}

.u-Gallery__link {
  font-size: inherit;
  line-height: inherit;
  display: block;
}

.iconDecorative--images:before, .iconDecorative-images:before {
  display: none;
}

/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

.u-lFooter .u-VCard--site {
  text-align: center;
}
.u-lFooter .u-VCard--site li {
  display: block;
  margin-bottom: .4em;
}

@media all and (min-width: 600px) {
  .u-lFooter .u-VCard--site li {
    display: inline-block;
  }
  .u-lFooter .u-VCard--site .u-List__itemContainer {
    margin-right: .8em;
  }
  .u-lFooter .u-VCard--site .u-List__itemContainer:last-child {
    margin-right: 0;
  }
}
/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden, .u-BioList__list .u-BioList__comma {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets, .u-BioList__list {
  margin: 0;
  padding: 0;
}

.noBullets li, .u-BioList__list li {
  list-style: none;
}

.u-NavSite__item--facebook,
.u-NavSite__item--twitter {
  font-size: 1.1rem;
}
