/*	CONFIG
	====== */
/*	LAYOUT
	====== */
/*	Site breakpoints
	----------------- */
/*	Tell Jeff to add to config
	-------------------------- */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/* end Jeff add ------------ */
/*	TYPOGRAPHY
	========== */
/*	COLORS
	====== */
/*	Basic link colors
	----------------- */
/*	Google search-results-specific colors
	------------------------------------- */
/* The color of the URL that appears below each result title */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/*	Basic button bg colors
	----------------- */
/*	Mobile search colors
	-------------------- */
/*	Mobile menu colors
	------------------ */
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/*	Mobile search colors
	-------------------- */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* The color of the search icon and Menu text */
/* The color of the space between search and menu */
.ac-visuallyHidden {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  position: absolute !important;
  width: 1px !important;
}

.noBullets {
  margin: 0;
  padding: 0;
}

.noBullets li {
  list-style: none;
}

/*

 - Remove weird colors
 - Upload to Offices
 - Add to Starter
 - Get it displaying

*/
/*	override classes
	---------------	*/
.fontNormal, .cse .gs-webResult .gs-visibleUrl, .gs-webResult .gs-visibleUrl, .cse .gs-webResult .gs-visibleUrl-short, .gs-webResult .gs-visibleUrl-short, .gs-imageResult .gs-visibleUrl, .gs-imageResult .gs-visibleUrl-short {
  font-weight: normal !important;
}

.noMargin, td.gsc-table-cell-thumbnail.gsc-thumbnail,
.gs-image img.gs-image, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-cursor-box.gs-bidi-start-align,
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  margin: 0 !important;
}

.noPadding, td.gsc-table-cell-thumbnail.gsc-thumbnail,
.gs-image img.gs-image, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-result-info {
  padding: 0 !important;
}

.noBorder, .gsc-webResult.gsc-result, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-results-wrapper-visible td,
.gsc-results-wrapper-visible th {
  border: 0 !important;
}

.noBackground, .gsc-control-cse, .gsc-webResult.gsc-result, .gsc-control-cse tr:nth-child(2n+1) {
  background-color: transparent !important;
}

.noBorder, .gsc-webResult.gsc-result, .gsc-control-cse,
.gsc-results-wrapper-visible table,
.gsc-table-result,
.gsc-thumbnail-inside,
.gsc-url-top,
.cse .gsc-webResult.gsc-result,
.gsc-imageResult-classic,
.gsc-imageResult-column,
.gsc-result .gs-title, .gsc-results-wrapper-visible td,
.gsc-results-wrapper-visible th {
  border-color: transparent !important;
}

/*	overrides
	--------- */
.gcsc-branding,
.gsc-resultsHeader {
  display: none;
}

.gsc-result .gs-title {
  height: auto !important;
  overflow: visible !important;
}

.gsc-control-wrapper-cse a {
  text-decoration: none;
  /*link-colors($normal, $hover, $active, $visited, $focus)*/
  color: #3789CC;
}
.gsc-control-wrapper-cse a:visited {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:focus {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:hover {
  color: #ED6707;
}
.gsc-control-wrapper-cse a:active {
  color: #f0f;
}

.gsc-control-cse .gs-result .gs-title,
.gsc-control-cse .gs-result .gs-title b,
.gs-snippet,
.gsc-above-wrapper-area-container {
  text-decoration: none !important;
  font-size: 1rem !important;
  font-family: "jaf-bernina-sans" !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.gsc-table-cell-snippet-open,
.gsc-table-cell-snippet-close {
  margin: 0;
  padding: 0;
}

.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link b,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited b,
.gsc-control-cse .gs-result .gs-title b {
  font-weight: inherit !important;
  font-size: inherit !important;
  color: #f0f;
}

.gsc-control-cse .gs-result .gs-title:visited,
.gsc-control-cse .gs-result .gs-title b:visited,
.gs-snippet:visited,
.gsc-above-wrapper-area-container:visited {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:focus,
.gsc-control-cse .gs-result .gs-title b:focus,
.gs-snippet:focus,
.gsc-above-wrapper-area-container:focus {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:hover,
.gsc-control-cse .gs-result .gs-title b:hover,
.gs-snippet:hover,
.gsc-above-wrapper-area-container:hover {
  color: #3789CC !important;
}

.gsc-control-cse .gs-result .gs-title:active,
.gsc-control-cse .gs-result .gs-title b:active,
.gs-snippet:active,
.gsc-above-wrapper-area-container:active {
  color: #3789CC !important;
}

.gs-snippet,
.gsc-above-wrapper-area-container {
  /*	font-size: .833rem!important; */
  font-weight: normal !important;
}

.gs-snippet,
.gsc-above-wrapper-area-container {
  /*	font-size: .833rem!important; */
  font-weight: normal !important;
}

.gsc-selected-option-container {
  min-width: 70px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background: #eee !important;
  text-shadow: none !important;
  font-weight: normal !important;
}
